{% for sensor in sensors %}
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
        <a href="{% url 'sensor-details' sensor.uuid %}">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-line-chart"></i></div>
                <div class="count">{{ sensor.last_data.value|default:"0.00" }} {{ sensor.unit|default:"" }}</div>
                <h3>{{ sensor.name }}</h3>
                <p>Ostatni odczyt: {{ sensor.last_data.datetime }}</p>
            </div>
        </a>
    </div>
{% endfor %}