{% extends 'base.html' %}
{% load l10n %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{ sensor.name }}<small>{{ sensor.unit|default:"" }}</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                <canvas id="sensorChart" width="740" height="370" style="width: 740px; height: 270px;"></canvas>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
    var chart_data = {};
    function respondCanvas() {
        // Line chart

        if ($('#sensorChart').length) {
            
            var ctx = document.getElementById("sensorChart");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: chart_data
            });

        }
    }

    var GetChartData = function () {
        $.ajax({
            url: "{% url 'sensordata-list' %}?sensor={{ sensor.uuid }}",
            method: 'GET',
            dataType: 'json',
            success: function (d) {
                labels = [];
                data = [];
                d.forEach(function(obj) {
                    labels.push(obj.datetime);
                    data.push(obj.value);
                });
                chart_data = {
                    labels: labels,
                    datasets: [{
                        label: "{{ sensor.name }}",
                        backgroundColor: "rgba(38, 185, 154, 0.31)",
                        borderColor: "rgba(38, 185, 154, 0.7)",
                        pointBorderColor: "rgba(38, 185, 154, 0.7)",
                        pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointBorderWidth: 1,
                        data: data
                    }]
                }

                respondCanvas();
            }
        });
    };
    $(document).ready(function(){
        GetChartData();
    })
</script>

{% endblock %}